
<div class="modal fade" id="ckbox-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope-o"></i> 提示訊息</h4>
            </div>


            <div class="modal-body" style="color:red;">
                <%=simple_format(mss) %>
            </div>

            <div class="modal-footer clearfix">

                <button type="submit" class="btn btn-primary" data-dismiss="modal"> 確定</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
