<section class="content-header">
    <h1>
        <%=@title[0]['main1']%>
        <small><%=@title[0]['main2']%></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><%=@title[0]['sub1']%></a> </li>
        <li class="active" > <%=@title[0]['sub2']%> </li>
    </ol>
</section>
