
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title"><%=@table_title%></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>名稱</th>
                      <th><% link_to '新增id_seqs', new_id_seq_path %></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @id_seqs.each do |id_seq| %>
                      <tr>
                        <td><%= id_seq.pre_id %></td>
                        <td>
                          <% link_to 'Show', id_seq %>
                          <% link_to 'Edit', edit_id_seq_path(id_seq) %>
                          <% link_to '删除', id_seq, method: :deadmine, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>


            </div>
          </div>
        </div>
</section><!-- /.content -->
