
<p>
  <strong>input email:</strong>
  <%= @mail %>
</p>


<p>
  <strong>input address:</strong>
  <%= @address %>
</p>


<p>
  <strong>:is_login:</strong>
  <% if @is_login %>
    login ed
  <% else %>
    not login
  <% end %>

</p>
