<% if session[:user_id].nil? %>

  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script>

  $( document ).ready(function() {

      alert('帳號密碼有誤!!請重新輸入!');

      document.location.href="/login";
  });

  </script>

  <div id="cc">輸入錯誤！！</div>

<% end %>
