



    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel -->
        <div class="user-panel" id="hiden">
            <div class="pull-left image">
                <!-- <img src="/LET/img/avatar3.png" class="img-circle" alt="User Image" /> -->
            </div>
            <div class="pull-left info">
                <p>Helloasdasda, Jane</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form" id="hiden">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">


          <li class="active" style="background-color: #3c8dbc;">
              <a href="#" style="background: #3c8dbc;">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span>會員專區</span>
              </a>
          </li>


          <% if judgment_access 'users/index' %>
              <li >
                  <a href="/users">
                      <span>會員管理</span>
                  </a>
              </li>
          <% end %>

          <li >
              <a href="/members">
                  <span>顧客列表</span>
              </a>
          </li>



          <% if judgment_access 'products/index' %>
              <li >
                  <a href="/products">
                       <span>商品管理</span>
                  </a>
              </li>
          <% end %>



          <% if judgment_access 'product_verifies/index' %>
              <li >
                  <a href="/product_verifies">
                      <span>辨證進度查詢</span>
                  </a>
              </li>
          <% end %>

          <li>
              <a href="/store_list">
                  <span>商品庫存查詢</span>
              </a>
          </li>


          <li>
              <a href="/product_orders">
                  <span>訂單查詢</span>
              </a>
          </li>

          <li>
              <a href="/wait_orders">
                  <span>待出貨明細</span>
              </a>
          </li>

          <li >
              <a href="/in_list">
                  <span>入庫查詢</span>
              </a>
          </li>

          <li >
              <a href="/out_list">
                  <span>出庫/出貨查詢</span>
              </a>
          </li>

          <li >
              <a href="/msgs">
                  <span>銷售額查詢</span>
              </a>
          </li>

          <li>
              <a href="/msgs">
                  <span>對帳單查詢</span>
              </a>
          </li>

            <% if judgment_access 'msgs/index' %>
                <li>
                    <a href="/msgs">
                        <span>最近消息</span>
                    </a>
                </li>
            <% end %>

            <% if judgment_access 'contactus/index' %>
                <li >
                    <a href="/contactus">
                        <span>聯絡我們列表</span>
                    </a>
                </li>
            <% end %>

            <li id="hiden">
                <a href="pages/widgets.html">
                    <i class="fa fa-th"></i> <span>Widgets</span> <small class="badge pull-right bg-green">new</small>
                </a>
            </li>

            <li class="treeview" id="hiden">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span>Charts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a></li>
                    <li><a href="pages/charts/flot.html"><i class="fa fa-angle-double-right"></i> Flot</a></li>
                    <li><a href="pages/charts/inline.html"><i class="fa fa-angle-double-right"></i> Inline charts</a></li>
                </ul>
            </li>

            <li class="treeview" id="hiden">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>UI Elements</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
                    <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
                    <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
                    <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
                    <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
                </ul>
            </li>

            <li class="treeview" id="hiden">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Forms</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">
                    <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
                    <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
                    <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
                </ul>
            </li>

            <% if !session[:user_id].nil? %>
            <li class="treeview" >
                <a href="#">
                    <i class="fa fa-table"></i> <span>基礎資料</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>

                <ul class="treeview-menu">

                    <% if judgment_access 'trades/index' %>
                        <li><a href="/trades"><i class="fa fa-angle-double-right"></i>交易碼</a></li>
                    <% end %>

                    <% if judgment_access 'store_areas/index' %>
                        <li><a href="/store_areas"><i class="fa fa-angle-double-right"></i>庫位</a></li>
                    <% end %>

                    <% if judgment_access 'id_seqs/index' %>
                        <li><a href="/id_seqs"><i class="fa fa-angle-double-right"></i>流水號</a></li>
                    <% end %>

                    <% if judgment_access 'roles/index' %>
                        <li><a href="/roles"><i class="fa fa-angle-double-right"></i>角色</a></li>
                    <% end %>

                    <% if judgment_access 'accesses/index' %>
                        <li><a href="/accesses"><i class="fa fa-angle-double-right"></i>權限設定</a></li>
                    <% end %>

                    <% if judgment_access 'product_verify_types/index' %>
                        <li><a href="/product_verify_types"><i class="fa fa-angle-double-right"></i>三證類型</a></li>
                    <% end %>

                    <% if judgment_access 'verify_type_mains/index' %>
                        <li><a href="/verify_type_mains"><i class="fa fa-angle-double-right"></i>三證類型主檔</a></li>
                    <% end %>

                    <% if judgment_access 'product_verify_states/index' %>
                        <li><a href="/product_verify_states"><i class="fa fa-angle-double-right"></i>三證狀態</a></li>
                    <% end %>

                    <% if judgment_access 'in_out_types/index' %>
                        <li><a href="/in_out_types"><i class="fa fa-angle-double-right"></i>出入庫類別</a></li>
                    <% end %>

                    <% if judgment_access 'order_states/index' %>
                        <li><a href="/order_states"><i class="fa fa-angle-double-right"></i>訂單狀態</a></li>
                    <% end %>

                    <% if judgment_access 'pay_types/index' %>
                        <li><a href="/pay_types"><i class="fa fa-angle-double-right"></i>付款方式</a></li>
                    <% end %>



                </ul>

            </li>
            <% else %>
            <li class="active">
                <a href="/msgs">
                  <i class="fa fa-table"></i> <span>基礎資料</span>

                </a>
            </li>
            <% end %>


            <li id="hiden">
                <a href="pages/calendar.html">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <small class="badge pull-right bg-red">3</small>
                </a>
            </li>

            <li id="hiden">
                <a href="pages/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <small class="badge pull-right bg-yellow">12</small>
                </a>
            </li>

            <li class="treeview" id="hiden">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
                    <li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
                    <li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
                    <li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
                    <li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
                    <li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->

<style media="screen">
  #hiden{
    display:none;
  }
</style>
